<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUSIFY | Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%-include('./header.ejs'); %>

    <!-- <h2>MUSIFY HOME PAGE</h2> -->
    <div class="home-container">
      <div class="player">
        <% if(locals.user){ %>
        <div class="current-song">
          <img src="/images/<%=currentSong.art%>" alt="" />
          <p class="s-name"><%= currentSong.name %></p>
          <p class="a-name"><%= currentSong.artist %></p>
          <audio
            src="/songs/<%=currentSong.src%>"
            id="player-audio"
            controls
            autoplay
          ></audio>
          <p class="player-function">
            <button onclick="loop()" id="btn" title="Loop">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </button>
          </p>
        </div>
        <%} else {%>
        <span>
          <img src="/images/startup_sound.png" style="width: 275px ; height:275px ; margin-top: 25px; border-radius: 20px;">
          <p style="font-size: large ;">Sign In to Enjoy!</p>
        </span>
        <% } %>
      </div>
      <div class="all-songs">
        <span style="font-weight:600;">ALL SONGS</span>
        <form action="/" method="get">
          <input type="text" name="key" placeholder="Search" required />
        </form>
        <% var count=1 %> <% for (song of songs){%> <%if(song.name ==
        'Welcome'){ continue; }%>
        <div class="song">
          <audio src="/songs/<%=song.src%>" id="myAudio"></audio>
          <div class="sn-no"><%=count%></div>
          <% count++; %>
          <img src="/images/<%=song.art%>" />
          <dvi class="song-info"><span><%=song.name%></span><br><%=song.artist%></dvi>
          <div class="song-btn">
            <a id="like" href="/users/like/<%=song._id%>" title="Add to Likes"><i class="fa fa-heart-o"></i> </a>
            <form action="/users/play" method="post">
              <%if(locals.user){%>
              <input type="hidden" name="user_id" value="<%=user._id%>" />
              <%} %>
              <input type="hidden" name="song_id" value="<%=song._id%>" />
              <button type="submit" title="Play">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </form>
            <form action="/users/add">
              <input type="hidden" name="song_id" value="<%=song._id%>" />
              <button type="submit" title="Add to Playlist">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <div class="user-lib">
        
        <% if(locals.user) {%>
          <form action="/users/create-playlist" method="post">
            <input type="text" name="name" placeholder="Create a new playlist" required>
            <input type="hidden" name="user_id" value="<%=locals.user._id%>">
            <button type="submit">Create</button>
          </form>
          <form action="/users/add-playlist" method="post">
            <input type="text" name="playlistID" placeholder="Add a Playlist" required>
            <input type="hidden" name="user_id" value="<%=locals.user._id%>">
            <button type="submit">ADD</button>
          </form>
          <hr>
          Your Playlists
          <br>
          <div class="my-playlist">
          <% for(playlist of playlists){%>
                <li>
                  <%= playlist.name %>
                  <button onclick="copyToClipBoard('<%=playlist._id%>')" ><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                </li>
          <%}%></div>
        <%} else {%>
          <span>Sign IN to create your own Playlist</span>
        <%}%>

      </div>
    </div>

    <%-include('./footer.ejs'); %>
    <script>
      let btn = document.getElementById("btn");
      let x = document.getElementById("player-audio");
      function loop() {
        if (x.loop == false) {
          x.loop = true;
          btn.style.color = "black";
        } else {
          x.loop = false;
          btn.style.color = "grey";
        }
      }
      function copyToClipBoard(pid){
        console.log(pid);
        navigator.clipboard.writeText(pid);
        alert("Copied to ClipBoard");
      }
    </script>
  </body>
</html>
