<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUSIFY | Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body onLoad="setup();">
    <%-include('./header.ejs'); %>

    <!-- <h2>MUSIFY HOME PAGE</h2> -->
    <div class="home-container">
      <div class="player">
        <% if(locals.user){ %> <% if(locals.user.temp=="single"){%>
        <div class="current-song">
          <img src="/images/<%=currentSong.art%>" alt="" />
          <p class="s-name"><%= currentSong.name %></p>
          <p class="a-name"><%= currentSong.artist %></p>
          <audio
            src="/songs/<%=currentSong.src%>"
            id="player-audio"
            controls
            autoplay
          ></audio>
          <p class="player-function">
            <button onclick="loop()" id="btn" title="Loop">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </button>
          </p>
        </div>
        <% }else{%> <% let i= 1 %> <% let count=0 %> <% for(song of
        locals.user.currentPlaylist){%>
        <p id="songName<%=i%>" style="display: none"><%=song.name%></p>
        <%i++;count++;}%>
        <p style="display: none" id="count"><%=count%></p>
        <% i= 1 %> <% for(song of locals.user.currentPlaylist){%>
        <p id="artistName<%=i%>" style="display: none"><%=song.artist%></p>
        <%i++;}%>
        <div class="current-song">
          <img
            id="songArt"
            src="/images/<%=locals.user.currentPlaylist[0].art%>"
            alt=""
          />
          <p class="s-name" id="s-name">
            <%= locals.user.currentPlaylist[0].name %>
          </p>
          <p class="a-name" id="a-name">
            <%= locals.user.currentPlaylist[0].artist %>
          </p>

          <audio
            src="/songs/<%=locals.user.currentPlaylist[0].src%>"
            id="player-audio"
            controls
            autoplay
          ></audio>
          <p class="player-function">
            <button onclick="pre()"><i class="fa fa-backward"></i></button>
            <button onclick="loop()" id="btn" title="Loop">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </button>
            <button onclick="next()"><i class="fa fa-forward"></i></button>
          </p>
        </div>
        <%}%> <%} else {%>
        <span>
          <img
            src="/images/startup_sound.png"
            style="
              width: 275px;
              height: 275px;
              margin-top: 25px;
              border-radius: 20px;
            "
          />
          <p style="font-size: large">Sign In to Enjoy!</p>
        </span>
        <% } %>
      </div>
      <div class="all-songs">
        <span style="font-weight: 600">ALL SONGS</span>
        <form action="/" method="get">
          <input type="text" name="key" placeholder="Search" required />
        </form>
        <% var count=1 %> <% for (song of songs){%> <%if(song.name ==
        'Welcome'){ continue; }%>
        <div class="song">
          <audio src="/songs/<%=song.src%>" id="myAudio"></audio>
          <div class="sn-no"><%=count%></div>
          <% count++; %>
          <img src="/images/<%=song.art%>" />
          <dvi class="song-info"
            ><span><%=song.name%></span><br /><%=song.artist%></dvi
          >
          <div class="song-btn">
            <a id="like" href="/users/like/<%=song._id%>" title="Add to Likes"
              ><i class="fa fa-heart-o"></i>
            </a>
            <form action="/users/play" method="post">
              <%if(locals.user){%>
              <input type="hidden" name="user_id" value="<%=user._id%>" />
              <%} %>
              <input type="hidden" name="song_id" value="<%=song._id%>" />
              <button type="submit" title="Play">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </form>
            <div class="song-id" >
              <button title="Get ID" onclick="copyToClipBoard('<%=song._id%>')">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="user-lib">
        <% if(locals.user) {%>
        <form action="/users/create-playlist" method="post">
          <input
            type="text"
            name="name"
            placeholder="Create a new playlist"
            required
          />
          <input type="hidden" name="user_id" value="<%=locals.user._id%>" />
          <button type="submit">Create</button>
        </form>
        <form action="/users/add-playlist" method="post">
          <input
            type="text"
            name="playlistID"
            placeholder="Add a Playlist"
            required
          />
          <input type="hidden" name="user_id" value="<%=locals.user._id%>" />
          <button type="submit">ADD</button>
        </form>
        <hr>
        <span>Your Playlists</span>
        <br>
        <div class="my-playlist">
          <% for(playlist of playlists){ %>
          <li class="playlist-box">
            
            <div class="playlist-header">
              <%= playlist.name %>
              <form action="/users/play-playlist">
                <input type="hidden" value="<%=playlist._id%>" required name="playlistID">
                <button class="btn-p" type="submit" title="Play">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </button>
              </form>
            <button class="btn-p" onclick="copyToClipBoard('<%=playlist._id%>')">
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </button>

          </div>
            <form action="/users/add-to-playlist" method="post">
              <input type="text" required placeholder="Put Song ID To ADD" name="songID">
              <input type="hidden" required value="<%=playlist._id%>" name="playlistID">
              <button class="btn-p" type="submit" >Add</button>
            </form>
            
          </li>
          <%}%>
        </div><hr>
        <div class="likes-header">
        <span>Liked songs</span>
        <form action="/users/playLiked" method="post">
          <input type="hidden" name="user_id" value="<%=locals.user._id%>" />
          <button class="btn-p" type="submit">PLAY</button>
          </form>
        </div>
        <div class="content">
          <% let j =1%>
          <% for( like of user.likes) {%>
          <p><%=j%> . <%= like.name%> | <%=like.artist%></p>
          <%j++;}%>
        </div>
        <hr />

        <%} else {%>
        <span>Sign IN to create your own Playlist</span>
        <%}%>
      </div>
    </div>

    <%-include('./footer.ejs'); %>

    <script src="/js/home.js"></script>
    <script>
      var count = document.getElementById("count").innerHTML;
      let c = 1;
      function setup() {
        var songNameId = "songName" + c;
        var artistNameId = "artistName" + c;
        audioPlayer = document.getElementById("player-audio");
        var nextSongSrc = document.getElementById(`${songNameId}`)
          .nextElementSibling.innerHTML;
        var nextSongArtist = document.getElementById(`${artistNameId}`)
          .nextElementSibling.innerHTML;
        document
          .getElementById("player-audio")
          .addEventListener("ended", next(), false);
      }

      function next() {
        songNameId = "songName" + c;
        artistNameId = "artistName" + c;
        nextSongSrc = document.getElementById(`${songNameId}`)
          .nextElementSibling.innerHTML;
        nextSongArtist = document.getElementById(`${artistNameId}`)
          .nextElementSibling.innerHTML;
          if (c >= count) {
          songNameId = "songName1";
          artistNameId = "artistName1";
          nextSongSrc = document.getElementById(`${songNameId}`).innerHTML;
          nextSongArtist = document.getElementById(`${artistNameId}`).innerHTML;
          c = 1;
        }
        audioPlayer.src = "/songs/" + nextSongSrc + ".mp3";
        document.getElementById("s-name").innerText = nextSongSrc;
        document.getElementById("a-name").innerText = nextSongArtist;
        document.getElementById("songArt").src =
          "/images/" + nextSongSrc + ".png";
        c++;
        audioPlayer.load();
        audioPlayer.play();
      }
      function pre() {
        songNameId = "songName" + c;
        artistNameId = "artistName" + c;
        nextSongSrc = document.getElementById(`${songNameId}`)
          .previousElementSibling.innerHTML;
        nextSongArtist = document.getElementById(`${artistNameId}`)
          .previousElementSibling.innerHTML;
        if (c <= 1) {
          songNameId = "songName" +count;
          artistNameId = "artistName" + count;
          nextSongSrc = document.getElementById(`${songNameId}`).innerHTML;
          nextSongArtist = document.getElementById(`${artistNameId}`).innerHTML;
          c = count;
        }
        audioPlayer.src = "/songs/" + nextSongSrc + ".mp3";
        document.getElementById("s-name").innerText = nextSongSrc;
        document.getElementById("a-name").innerText = nextSongArtist;
        document.getElementById("songArt").src =
          "/images/" + nextSongSrc + ".png";
        c--;
        audioPlayer.load();
        audioPlayer.play();
      }
    </script>
  </body>
</html>
