<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%-include('./header.ejs'); %>

    <div class="container">
      <div class="profile">
      <h2 style="color: white ;">Profile  :</h2>
      <h2>Name: <%=user.name%></h2>
      <h2>Email: <%=user.email%></h2>
      </div>


      <div class="user-lib">
        
        
        <div class="history">
          <h3 style="color: white ;">History<hr></h3>
          <div class="his">
            <% var count=1 %>
            <% for (song of history){%>
              <div class="song">
              <div class="sn-no"><%=count%></div>
                <% count++; %>
              <img src="/images/<%=song.art%>" >
              <div class="song-info"><span><%=song.name%></span><br><%=song.artist%></div>
              <a href=""><i class="fa fa-window-close" aria-hidden="true"></i></a>
            </div>
            <% }%>
           </div>
        </div>



        <div class="playlist">
          <h3 style="color: white ;">Playlist<hr></h3>
        </div>


    </div>
  </div>
    <%-include('./footer.ejs'); %>
</body>
</html>